@charset "utf-8";

html, body {
  margin: 0;
  padding: 0;
}

html, body, main{
  height: 100%;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  display: block;
}

