@charset "utf-8";

html, body {
  margin: 0;
  padding: 0;
}

html, body, main{
  height: 100%;
}

.wrap{
   display: flex;
  align-items: center;
  justify-content: center;
}

#color{
  margin-bottom: 20px;
}

canvas {
  display: block;
}

