@charset "utf-8";

html, body {
  margin: 0;
  padding: 0;
}

body{
  font-size: 20px;
  font-family:Times;
  text-align:center;
  font-size: 30px;
}


canvas {
  display: block;
  margin: 0 auto;
}

input{
  margin-top: 1em;
  margin-bottom: 1em;
  font-size:20px;
 
}